  
<h1>Student Form</h1>
<p>Find me in app/views/students/edit.html.erb</p>

<%= form_for @student, method: "PATCH" do |f| %>
   <%= f.label :first_name, "first_name: " %>
   <%= f.text_field :first_name %><br>
   <%= f.label :last_name, "last_name: " %>
   <%= f.text_field :last_name %><br>
   <%= f.submit "Update Student" %>
<% end %>