<h1> Student Form </h1>

<%= form_for students_path do |s| %>
<%= s.label :first_name %>
<%= s.text_field :first_name %>

<%= s.label :last_name %>
<%= s.text_field :last_name %>

<%= s.submit "Submit Student Form" %>
<% end %>
