<%= form_for(@school_class) do |f| %>
    <%= f.label :title %>
    <%= f.text_area :title %>
    <%= f.label :room_number %>
    <%= f.number_field :room_number %>
    <%= f.submit %>
<% end %>

<%= params.inspect %>

<h3> Here is where you can edit the form... </h3>
