<h1>Edit School Class Form</h1>

<%= form_for(@school_class) do |f| %>
  <%= f.label 'Title' %><br>
  <%= f.text_field :title, @school_class.title %><br>

  <%= f.label 'Room Number' %><br>
  <%= f.text_field :room_number, @school_class.room_number %><br>

  <%= f.submit %>
<% end %>
