<h2>School Class Form</h2>
<%= form_for(@school_class) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
 </div>

 <div>
   <%= f.label :room_number %>
   <%= f.number_field :room_number %>
</div>

<%= f.submit %>

<% end %>
