<h2>School Class Form</h2>
<%= form_for(@class) do |c| %>

    <%= c.label :title %>
    <%= c.text_field :title %>

    <%= c.label :room_number %>
    <%= c.number_field :room_number %>
    <%= c.submit %>
    <% end %>
